[Desktop Entry]
Type=Application
Version=1.0
Name=DAGPizza
Comment=Smart payments made simple
Exec=bash -c 'cd $(dirname %k) && ./DAGPizza-TN %u'
Icon=icon-white-256.png
Terminal=false
Categories=Office;Finance;
MimeType=x-scheme-handler/dagpizza;
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

